@import "tailwindcss";

:root {
  --background: #FAF9F7;
  --foreground: #2B2B2B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-baskerville: var(--font-libre-baskerville);
  --font-ibm: var(--font-ibm-plex-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: IBM_Plex_Sans, Arial, Helvetica, sans-serif;
}